.slide-table table {
    color: white;
    font-size: 23px;
}
.reveal h2, .reveal h3, .reveal h4{
	text-transform: none;
}

.small-items ol ul li {
    font-size: 26px;
}

.small-items ol li {
    font-size: 34px;
}

.small-text ul li {
    font-size: 34px;
}

.small-paragraph p{
	font-size: 38px;
}